<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="container-md mt-2">

  <h2 class="text-center mb-3">{{ title }}</h2>

  <div class="d-flex mb-3 justify-content-center">
    <app-input-password></app-input-password>
  </div>

  <div class="d-flex mb-3 justify-content-center">
    <app-password-td-form></app-password-td-form>
  </div>

</div>
