<div class="card mb-3" style="width: 300px;">

  <div class="card-body">
    <h5 class="card-title">TD form with indicator <br><small>(add indicator by directive)</small></h5>
    <form #passwordForm="ngForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="password-2" class="form-label">Password</label>
        <input type="password"
               class="form-control password"
               id="password-2"
               name="password"
               required
               [(ngModel)]="model.password"
               (ngModelChange)="onInputPasswordChange($event)"
               placeholder="Password"
               #password="ngModel"
               appStrengthValidation
               appAddPasswordStrength>
      </div>
      <div *ngIf="password.invalid" class="mb-3">
        <small id="errorMessage">
          Add:
          <span *ngIf="password.errors!['strength']['digitsError']">numbers, </span>
          <span *ngIf="password.errors!['strength']['lettersError']">letters, </span>
          <span *ngIf="password.errors!['strength']['symbolsError']">symbols</span>.
        </small>
      </div>
      <button type="submit" class="btn btn-primary btn-my" [disabled]="passwordForm.invalid">Submit</button>
    </form>

  </div>

</div>

