<div class="card mb-3" style="width: 300px;">

  <div class="card-body">
    <h5 class="card-title">Reactive form with indicator</h5>
    <form [formGroup]="passwordForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Password"
               appStrengthValidation
               formControlName="password">
        <app-strength-indicator [status]="passwordStatus"></app-strength-indicator>
      </div>
      <div *ngIf="passwordForm.get('password')?.invalid" class="mb-3">
        <small id="errorMessage">
          Add:
          <span *ngIf="!passwordForm.get('password')?.errors!['strength']['digitsError']">numbers, </span>
          <span *ngIf="!passwordForm.get('password')?.errors!['strength']['lettersError']">letters, </span>
          <span *ngIf="!passwordForm.get('password')?.errors!['strength']['symbolsError']">symbols</span>.
        </small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Submit</button>
    </form>

  </div>

</div>
